# Primer avance PIA
## Grupo 001 - Lunes 7-10 PM
## Equipo 9
+ 1842161 Torres Guerrero Saul Ángel
+ 1844656 Maldonado Ramirez Alejandra
+ 1857712 Morales Tovar Carlos de Jesús
+ 1941500 Espinosa Orrante Jesús Alejandro
+ 1857810 Rivera Castillo Saúl Andrés

## **Stock Exchange Data** 
URL: https://www.kaggle.com/mattiuzc/stock-exchange-data

### **Introducción**
La bolsa de valores es un mercado este puede ser físico o virtual, donde existe un demandante y un ofertante, en este se ofrece un capital. Estas transacciones se hacen mediante un intermediario autorizado para ofrecer este capital. Las bolsas de valores permiten la negociación e intercambio entre las empresas que requieren financiamiento y,  los ahorradores pueden ser persona u organizaciones. Estos últimos buscan invertir su dinero para obtener una rentabilidad. En las bolsas se negocian acciones y deuda, las acciones son las más conocidas 
Al invertir en la bolsa de valores se sabe que tiene riesgos, por esta razón puede que muchas personas no se interesen en invertir, para  resolver este tipo de problemas, el análisis de datos será la mejor herramienta para pronosticar la tendencia o incluso el futuro, así la persona u organización puede disminuir el riesgo de su inversión

### **Descripción de los datos**
Los tipos de datos que nos presentan son en su mayoría números, enteros o decimales, también nos dan porcentajes, fechas, gráficas y símbolos.  

**Descripción de columnas** 

*    Primera columna: Encontramos el símbolo de la cotización de cada acción. 
*    Segunda columna: Fecha de la acción consecutivamente  
*    Tercera columna: Precio de apertura, es decir el precio con el que la acción empezó 
*    Cuarta columna: Precio más alto que tuvo la acción en todo el día 
*    Quinta Columna: Precio más bajo que tuvo la acción en todo el día 
*    Sexta columna: Precio de cierre, es decir el precio con el que la acción termino el día 
*    Séptima columna: Precio de cierre ajustado a dividendos y divisiones, prácticamente es igual al precio de cierre 
*    Octava columna: Numero de acciones que se negociaron en el día
*    Novena columna: Precio de cierre en dólares

### **Justificación del uso de datos**
Al momento de analizar la base de datos nos dimos cuenta que hay ciertos puntos de interés respecto a los datos, las relaciones que tienen entre cada columna y los diferentes tipos de análisis que se puedes realizar son interesantes porque así podemos ver como se desenvuelve la bolsa de valores en el mercado y como se desarrolla para cada campo en la que se encuentra, de igual forma podemos analizar qué tipo de acciones e inversiones son las más frecuentes entre los distintos tipos de inversionistas y cuáles podrían ser sus preferencias. 

El beneficio que encontramos de realizar nuestro trabajo con esta base de datos es poder adquirir conocimientos de cómo se maneja una bolsa de valores y sus diferentes factores que implica llevar a cabo una inversión y ver tanto como los resultados positivos como los negativos y poder ir por el mejor camino para tener una buena efectividad.

### **Objetivo final**


### **Preguntas de interés**
* A
* A

## **Limpieza de datos**

In [12]:
import pandas as pd
import numpy as np
import json
#Importando la base de datos bajo el nombre IP
IP = pd.read_csv("indexProcessed.csv", encoding='utf8')

#### **Visualización de datos**

In [13]:
IP.shape

(104224, 9)

In [14]:
#Mostrando las primeras 6 filas de la base de datos IP
IP.head(6)

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013
5,HSI,1987-01-08,2603.300049,2603.300049,2603.300049,2603.300049,2603.300049,0.0,338.429006

In [15]:
#Desplegando el nombre de todas las columans que conforman la base de datos IP
IP.columns

Index(['Index', 'Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume',
       'CloseUSD'],
      dtype='object')

#### **Descripción básica de columnas**

In [16]:
#Indicando el tipo de dato que contiene cada columna de la base de datos IP
#Verificando la presencia o no de datos nulos en cada columna de la base de datos IP
for i in range(0,9):
    print("La columna",IP.columns[i],"contiene datos de tipo",IP[IP.columns[i]].dtype)
    DN=IP.isnull().any()[IP.columns[i]]
    if DN == False:
      print("La columna",IP.columns[i],"no presenta datos nulos")
      print()
    else:
      print("La columna",IP.columns[i],"presenta",IP.isnull().sum()[IP.columns[i]],"datos nulos")
      print()
 
#Eliminando columnas redudantes (presentan la misma información)
NIP=IP.drop(columns=['Open','High','Low','Close','Adj Close'])
NIP.head(6)

La columna Index contiene datos de tipo object
La columna Index no presenta datos nulos

La columna Date contiene datos de tipo object
La columna Date no presenta datos nulos

La columna Open contiene datos de tipo float64
La columna Open no presenta datos nulos

La columna High contiene datos de tipo float64
La columna High no presenta datos nulos

La columna Low contiene datos de tipo float64
La columna Low no presenta datos nulos

La columna Close contiene datos de tipo float64
La columna Close no presenta datos nulos

La columna Adj Close contiene datos de tipo float64
La columna Adj Close no presenta datos nulos

La columna Volume contiene datos de tipo float64
La columna Volume no presenta datos nulos

La columna CloseUSD contiene datos de tipo float64
La columna CloseUSD no presenta datos nulos

  Index        Date  Volume    CloseUSD
0   HSI  1986-12-31     0.0  333.879006
1   HSI  1987-01-02     0.0  330.213013
2   HSI  1987-01-05     0.0  331.811987
3   HSI  1987-01-06     0.0  335.906987
4   HSI  1987-01-07     0.0  338.923013
5   HSI  1987-01-08     0.0  338.429006

#### **Clasificación de datos**

In [17]:
#Clasificando los índices por país (EUA, Japón, Hong Kong) (Las 3 bolsas más importantes del mundo)
class EUA:
  NYA=NIP[NIP.Index=="NYA"]
  IXIC=NIP[NIP.Index=="IXIC"]
 
class Japon:
  N225=NIP[NIP.Index=="N225"]
 
class HK: #Hong Kong
  HSI=NIP[NIP.Index=="HSI"]
 
#Ver lo que guardo cada clase (Solo quita el # para que funcione)
#print(EUA.NYA)
#print(EUA.IXIC)
#print(Japon.N225)
#print(HK.HSI)

#### **Guardado de archivos en agrupaciones**

In [18]:
#Guardando la información del índice NYA en un nuevo archivo.csv 
EUA.NYA.to_csv('NYA.csv',index=False)

### **Limpieza de datos (Base secundaria)** 
## **Countries Life Expectancy**

URL: https://www.kaggle.com/brendan45774/countries-life-expectancy

In [1]:
import pandas as pd
import numpy as np
import json
#Importando la base de datos bajo el nombre LE
LE = pd.read_csv("Life expectancy.csv", encoding='utf8')

#### **Visualización de datos**

In [2]:
LE.shape

(3253, 3)

In [3]:
#Mostrando las primeras 6 filas de la base de datos LE
LE.head(6)

      Entity  Year  Life expectancy
0  Australia  1802        34.049999
1  Australia  1803        34.049999
2  Australia  1804        34.049999
3  Australia  1805        34.049999
4  Australia  1806        34.049999
5  Australia  1807        34.049999

In [4]:
#Desplegando el nombre de todas las columans que conforman la base de datos LE
LE.columns

Index(['Entity', 'Year', 'Life expectancy'], dtype='object')

#### **Descripción básica de columnas**

In [5]:
#Indicando el tipo de dato que contiene cada columna de la base de datos LE
#Verificando la presencia o no de datos nulos en cada columna de la base de datos LE
for i in range(0,3):
    print("La columna",LE.columns[i],"contiene datos de tipo",LE[LE.columns[i]].dtype)
    DN2=LE.isnull().any()[LE.columns[i]]
    if DN2 == False:
      print("La columna",LE.columns[i],"no presenta datos nulos")
      print()
    else:
      print("La columna",LE.columns[i],"presenta",LE.isnull().sum()[LE.columns[i]],"datos nulos")
      print()
 
#Eliminando columnas redudantes (presentan la misma información)
## Se omite en este caso debido a que la información de cada columna es diferente

La columna Entity contiene datos de tipo object
La columna Entity no presenta datos nulos

La columna Year contiene datos de tipo int64
La columna Year no presenta datos nulos

La columna Life expectancy contiene datos de tipo float64
La columna Life expectancy no presenta datos nulos

#### **Cambios de nombre de columna**

In [6]:
#Cambiando nombre de columna para evitar confusiones de traducción
LE.rename(columns={'Entity':'Country'},inplace=True)
LE.head(6)

     Country  Year  Life expectancy
0  Australia  1802        34.049999
1  Australia  1803        34.049999
2  Australia  1804        34.049999
3  Australia  1805        34.049999
4  Australia  1806        34.049999
5  Australia  1807        34.049999

#### **Clasificación de datos**

In [11]:
#Clasificando la esperanza de vida a través del tiempo por país (EUA, Japón, México)
class USA:
  US=LE[LE.Country=="United States"]
  
class JPN:
  JP=LE[LE.Country=="Japan"]
 
class MEX:
  MX=LE[LE.Country=="Mexico"]
 
#Ver lo que guardo cada clase (Solo quita el # para que funcione)
#print(USA.US)
#print(JPN.JP)
print(MEX.MX)

     Country  Year  Life expectancy
1951  Mexico  1800        26.900000
1952  Mexico  1801        26.900000
1953  Mexico  1802        26.900000
1954  Mexico  1803        26.900000
1955  Mexico  1804        26.900000
...      ...   ...              ...
2163  Mexico  2012        75.879997
2164  Mexico  2013        75.790001
2165  Mexico  2014        75.900002
2166  Mexico  2015        76.190002
2167  Mexico  2016        76.379997

[217 rows x 3 columns]

#### **Guardado de archivos en agrupaciones**

In [8]:
#Guardando la información de la esperanza de vida de México en un nuevo archivo.csv 
MEX.MX.to_csv('MX.csv',index=False)