In [ ]:
Tarea 1 Mineria de Datos

tublas 

a) Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es

In [ ]:
 var_flot = 3.14
type(var_flot)
<class 'float'>
>>> var_ent = 22
>>> type(var_ent)
<class 'int'>
>>> var_bol = 4<5
>>> type(var_bol)
<class 'bool'>
>>> 4<5
True
>>> var_comp = 4+5j
>>> type(var_comp)
<class 'complex'>

SyntaxError: ignored

b) Crear una tupla con valores enteros imprimir el primer y ultimo valor

In [ ]:
>>> tup = (1,5.3,7,9,12.7,15)
>>> type(tup)
<class 'tuple'>
>>> #primer elemento: 1
>>> #ultimo elemento: 15
>>> p_e = tup[0}
  File "<stdin>", line 1
    p_e = tup[0}
>>> u_e = tup[-1]
>>> print (p_e)
1
>>> print(u_e)
15
>>>

SyntaxError: ignored

c)Añadir 3 valores de string a la tupla

In [ ]:
>>> tup = (1,"gato",5.3,"perro",7,"pajaro",10.8)

d)Verificar si una variable existe dentro de la tupla

In [ ]:
>>> #buscar gato
>>> print (tup.index("gato"))
1
>>> #"gato" esta en la posicion 1, se verifico que existe

listas 

a)Crear una lista con 40 elementos aleatorios enteros.

In [ ]:
#pendiente

b) Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares

In [ ]:
#pendiente

c) Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

In [ ]:
#pendiente

d) Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.

In [ ]:
#pendiente

e) Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [ ]:
#pendiente

Diccionarios 

a)Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad

In [ ]:
 #Diccionario
>>> diccionario = {"Gerardo" : "20" , "Silvia" : "49" , "Debany" : "19" , "Margarita" : "23" , "Victor" : "58" , "Melisa" : "13"}
>>> print(diccionario)
{'Gerardo': '20', 'Silvia': '49', 'Debany': '19', 'Margarita': '23', 'Victor': '58', 'Melisa': '13'}

b) Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor

In [ ]:
>>> lista = ["20" , "49" , "19" , "23" , "58" , "13"]
>>> print(lista)
['20', '49', '19', '23', '58', '13']
>>> lista.sort()
>>> print(lista)
['13', '19', '20', '23', '49', '58']

d)Usando el diccionario y un loop, imprimir solo los nombres

In [ ]:
diccionario.keys()
dict_keys(['Gerardo', 'Silvia', 'Debany', 'Margarita', 'Victor', 'Melisa'])
for key in diccionario.items():
... print(key)

e)Añadir dos personas nuevas a tu diccionario, incluyendo edad

In [ ]:
 diccionario["cecilia"] = 22
>>> diccionario["jose"] = 70
>>> print(diccionario)
{'Gerardo': '20', 'Silvia': '49', 'Debany': '19', 'Margarita': '23', 'Victor': '58', 'Melisa': '13', 'cecilia': 22, 'jose': 70}

sets

a)Crea un set con 100 numeros aleatorios enteros del 1 al 25

In [ ]:
 set100={1}
>>> i=1
>>> set100.remove(1)
>>> while i<=100:
... set100.add(random.randint(1,25))
  File "<stdin>", line 2
    set100.add(random.randint(1,25)) 
    i=i+1

c) Comprueba la longitud de tu set

In [ ]:
len(set100)

Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial

In [ ]:
>>> lista=[]
>>> i=1
>>> while i<=5:
... lista.append(random.randint(1,10)
>>> i=i+1
>>> i=0
>>> while 1<=4:
    print("\nNumero" ,lista[i], "esta en el set de 100 num?")
    
>>> print(lista[i] in set100)
>>> i=i+1